

.calender-block {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.calender-block > div:first-child{
  width: 10%;
}

.calender-block > div:last-child{
  width: 90%;
}

.checkbox-block {
  display: inline-block;
  margin: 10px 10px 5px 0;
}

.header {
    display: flex;
    gap: 33%;
    padding: 20px;
    background: #ddd;
}

.timezone {
  padding: 20px;
  background: #ececec;
}

.output {
  background: #ececec;
  padding: 20px;
}